@using Microsoft.AspNetCore.Identity
@using WebBanHang.DAL.Data

@{
    //tra ve controller action area hien tai
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    string currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header class="header" style="background-color:antiquewhite;margin-bottom:2px">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            @if(SignInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user" aria-hidden="true"></i> @UserManager.GetUserName(User)!</a>
                                </li>
                            }
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        @* <div class="header__top__right__language">
                            <img src="~/_LayoutUser/img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Spanis</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div> *@
                        <div class="header__top__right__auth">
                            @if (SignInManager.IsSignedIn(User))
                            {
                               
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
                                </form>
                            }
                            else
                            {
                                @* <button type="button" class="btn btn-primary btn-lg fa fa-user" data-toggle="modal" data-target="#modelId">
                                    Login
                                </button> *@
                                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i> Login</a>
                                @* <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-sign-out-alt">> Register</a> *@
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="~/_LayoutUser/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="@(currentController == "Shop" ? "active" : "")">
                            <a asp-area="Customer" asp-controller="Food" asp-action="Index">Shop</a>
                        </li>

                        <li class="@(currentController == "Home" && currentAction == "Blog" ? "active" : "")">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Blog">Blog</a>
                        </li>

                        <li class="@(currentController == "Home" && currentAction == "Contact" ? "active" : "")">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                       
                        <li><a asp-area="Customer" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>