<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/_LayoutUser/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/_LayoutUser/css/style.css" type="text/css">
</head>

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <partial name="~/Views/Shared/Partials/_HumbergerPartial.cshtml" />
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <partial name="~/Views/Shared/Partials/_HeaderPartial.cshtml" />
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <div class="row">
        <!-- ===== Sidebar ===== -->
        <div class="col-lg-3 col-md-2" style="margin:8px">

            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>All departments</span>
                </div>
                @await Component.InvokeAsync("RenderDanhMuc", new { viewName = "RenderDanhMucSanPham" })
            </div>

            @* Lọc theo giá *@
            <h5 class="fw-bold">Lọc theo giá</h5>
            <form asp-action="Index" asp-controller="Food" asp-area="Customer" method="get">
                <div class="mb-2">
                    <label for="minPrice" class="form-label">Giá thấp nhất</label>
                    <input type="number" name="minPrice" id="minPrice" class="form-control" value="@ViewBag.MinPrice" placeholder="0" />
                </div>
                <div class="mb-2">
                    <label for="maxPrice" class="form-label">Giá cao nhất</label>
                    <input type="number" name="maxPrice" id="maxPrice" class="form-control" value="@ViewBag.MaxPrice" placeholder="100000" />
                </div>
                <button type="submit" class="btn btn-sm btn-success w-100 mt-2" asp-action="Index">Lọc</button>
            </form>


            <hr />
            @* tìm kiếm  *@
            <h5 class="fw-bold">Tìm kiếm</h5>
            <form id="searchForm" asp-action="Search" asp-controller="Food" asp-area="Customer" method="get">
                <input id="keyword"
                       type="text"
                       name="keyword"
                       value="@ViewBag.Keyword"
                       class="form-control"
                       placeholder="Nhập tên món ăn..." />
                <button type="submit" class="btn btn-sm btn-success w-100 mt-2">Tìm kiếm</button>
            </form>
        </div>
        <!-- ===== Danh sách món ăn ===== -->
        <div class="col-lg-8 col-md-7">
            <h4 class="mb-3">@ViewData["Title"]</h4>
            <div class="row">
         
                
                    @RenderBody()
                
            </div>
            <div class="row" style="position:absolute;bottom:2px;">
            @await RenderSectionAsync("PhanTrang", required: false)
            </div>
        </div>
    </div>


    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />

    <!-- Js Plugins -->
    <!-- Js Plugins -->
    <script src="~/_LayoutUser/js/jquery-3.3.1.min.js"></script>
    <script src="~/_LayoutUser/js/bootstrap.min.js"></script>
    <script src="~/_LayoutUser/js/jquery.nice-select.min.js"></script>
    <script src="~/_LayoutUser/js/jquery-ui.min.js"></script>
    <script src="~/_LayoutUser/js/jquery.slicknav.js"></script>
    <script src="~/_LayoutUser/js/mixitup.min.js"></script>
    <script src="~/_LayoutUser/js/owl.carousel.min.js"></script>
    <script src="~/_LayoutUser/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
