@using WebBanHang.Models.Models
@model IEnumerable<WebBanHang.Models.Models.Food>
@{
    ViewData["Title"] = ViewBag.Title ?? "Danh sách món ăn";
    var categories = ViewBag.Categories as IEnumerable<WebBanHang.Models.Models.Category>;
    var max = ViewBag.maxPrice;
    var min = ViewBag.minPrice;
    var totalPages = ViewBag.TotalPages;
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<!-- ===== Danh sách món ăn ===== -->
<div id="foodListContainer" class="row" style="width:100%;">
    @await Html.PartialAsync("_FoodListPartial", Model)
</div>


@section PhanTrang {
    <!-- Phân trang -->
    <div class="product__pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            @* <li class="page-item  @(i == ViewBag.CurrentPage ? "active" : "")"> *@
            <a class="@(i==ViewBag.CurrentPage ? "bg-primary":"")" asp-area="Customer"
               asp-action="Index"
               asp-route-page="@i"
               asp-route-id="@ViewBag.CurrentCategory"
               asp-route-minPrice="@ViewBag.MinPrice"
               asp-route-maxPrice="@ViewBag.MaxPrice"
               asp-route-sortBy="@ViewBag.SortBy">
                @i
            </a>

        }

    </div>
}
@* @section Scripts {
    <script>
        //let typingTimer;
        //const delay = 500; // chờ 0.5 giây sau khi người dùng ngừng gõ

        $("#searchForm").on("submit", function (e) {

            //clearTimeout(typingTimer);
            //alert("hehe")
            e.preventDefault();
            const keyword = $("#keyword").val();
            //alert(keyword)
                $.ajax({
                    url: '@Url.Action("Search", "Food", new { area = "Customer" })',
                    type: 'GET',
                    data: { keyword: keyword },
                    success: function (html) {
                        $("#foodListContainer").html(html);
                        

                    }
                });

        });
    </script>
} *@
@* @section DanhMuc {
    @foreach (Food c in ViewBag.TopFood)
    {
        <div class="col-lg-4">
            <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg"
                     data-setbg="img/product/discount/pd-1.jpg">
                    <div class="product__discount__percent">-20%</div>
                    <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product__discount__item__text">
                    <span>@c.FoodName</span>

                    <div class="product__item__price">@c.Price</div>
                </div>
            </div>
        </div>
    }

} *@